.container{
    border: 3px solid lightcoral;
    display: flex;
    flex-direction: column-reverse;
}

.flex-item{
    color:black;
    font-size: 2rem;
    padding: 1rem;
    text-align: center;
}

.item-1{
    background-color: lightpink;
}

.item-2{
    background-color: lightgoldenrodyellow;
}

.item-3{
    background-color: lightgreen;
}